#WIDGET_ID-WIDGET_INSTANCE_ID {
#SWM-settingsHeader-section {
  .swm-col-sm-heading-btn {
    position: relative;
    top: 30px;
  } 
  #SWM-spaceSettingsHeader-title{
    margin-top: 18px;
    font-size: x-large;
  }
}
}