<div class="utilitywidget">
<div class="row">
    <div class="col-md-12 grey-text">
        Depending on where you live, we’ll use your delivery address to either deliver straight to your door via courier or to your nearest post office. 
    </div>
</div>
</div>
