<div class="cc_heroWidget">
  <h3 class="label-hidden" data-bind="widgetLocaleText: 'heroWidget'"></h3>

  <div class="carousel slide" data-bind="attr:{id: 'this-carousel-id-'+$data.id()}">
    <!-- class of slide for animation -->
    <div class="carousel-inner">
      <div class="item active">
        <!-- class of active since it's the first item -->
        <img style="width:100%" class="img-responsive center-block" data-bind="ccResizeImage: {
          isSrcSetEnabled : true,
          source:'/file/general/hero-image1.jpg' , 
          alt:'Hero Image 1' }">
        </img>
      </div>
      <div class="item"> 
        <img style="width:100%" class="img-responsive center-block" data-bind="ccResizeImage: {
          isSrcSetEnabled : true,
          source:'/file/general/hero-image2.jpg' , 
          alt:'Hero Image 2' }">
        </img>
      </div>
      <div class="item"> 
        <img style="width:100%" class="img-responsive center-block" data-bind="ccResizeImage: {
          isSrcSetEnabled : true,
          source:'/file/general/hero-image3.jpg' , 
          alt:'Hero Image 3' }">
        </img>
      </div>
      <div class="item"> 
        <img style="width:100%" class="img-responsive center-block" data-bind="ccResizeImage: {
          isSrcSetEnabled : true,
          source:'/file/general/hero-image4.jpg' , 
          alt:'Hero Image 4' }">
        </img>
      </div>
    </div>
    <!-- /.carousel-inner -->
    <!--  Next and Previous controls below href values must reference the id for this carousel -->
    <a class="left carousel-control" data-slide="prev" data-bind="attr:{href: '#this-carousel-id-'+$data.id()}">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <div class="sr-only" data-bind="widgetLocaleText: 'previousBannerText'"></div>
    </a>
    <a class="right carousel-control" data-slide="next" data-bind="attr:{href: '#this-carousel-id-'+$data.id()}">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <div class="sr-only" data-bind="widgetLocaleText: 'nextBannerText'"></div>
    </a>
  </div>
  <!-- /.carousel -->
</div>