<div class="row">
  <div class="col-md-8 padding-0">
      <div class="col-md-12 padding-0">
        <div class="main-fashion-logo"><img alt="marketing offer" class="img-responsive" src="/ccstore/v1/images/?source=/file/v1293923161277742563/general/main-logo.jpg&amp;height=452&amp;width=452" 
          style="width:100%" /></div>
        <div class="bg-container">
            <div class="product">Duvet Inners & Pillows</div>
        </div>
      </div>
  </div>

  <div class="col-md-4 padding-0">
      <div class="col-md-12 padding-0">
        <div class="sub-fashion-logo"><img alt="marketing offer" class="img-responsive" src="/ccstore/v1/images/?source=/file/v1957240412259156208/general/small-logo.jpg&amp;height=218&amp;width=222" 
          style="width:100%" /></div>
          <div class="text-container">
            <div class="product">Duvet Inners & Pillows</div>
          </div>
      </div>
      <div class="col-md-12 padding-0">
        <div class="sub-fashion-logo"><img alt="marketing offer" class="img-responsive" src="/ccstore/v1/images/?source=/file/v1957240412259156208/general/small-logo.jpg&amp;height=218&amp;width=222" 
          style="width:100%" /></div>
        <div class="text-container">
            <div class="product">Duvet Inners & Pillows</div>
          </div>
      </div>

  </div>
</div>