<!-- ko if: initialized() && $data.elements.hasOwnProperty('hcCollectionNavigationHamburger') -->
    <div class="hc-collections-navigation-hamburger" data-bind="html:$elementInstance.config.richText.content"></div>
<!-- /ko -->