<!-- ko setContextVariable: {name: 'elementConfig', value: {"2300007": {
  "id": "2300007",
  "image": {
    "altText": "Quick Order",
    "altTextId": "2600028",
    "isProductImage": false,
    "link": "/quick-order",
    "src": "/file/v3295269978934068010/general/19DCF270-258F-4E4C-A44C-97C596A397E3.png",
    "titleText": "Quick Order",
    "titleTextId": "2600029",
    "zoomEnabled": false
  }
}}} --><!-- /ko -->

<!-- oc layout: panels -->
  <div class="row">

    <div class="oc-panel col-md-12" data-oc-id="panel-0-0">

      <!-- oc section: editorialLink -->
<div data-bind="element: 'editorialLink',id: '2300007'"></div>

      <!-- /oc -->

    </div>


  </div>
  <!-- /oc -->
