<div class="QuickOrderButton">
  <a href="/quick-order" >
    <img class="QO1 hidden-xs hidden-sm " data-bind="attr:{src: $data.bannerLarge() }" />
    <img class="QO2 hidden-xs hidden-md hidden-lg" data-bind="attr:{src: $data.bannerMedium() }" />
    <img class="QO2 hidden-sm hidden-md hidden-lg" data-bind="attr:{src: $data.bannerSmall() }" />
  </a>
</div>


