<!-- Secondary Navigation -->
<p class="secondary-nav">
  <a data-bind="ccLink: 'get-it-on-credit'" href="/get-it-on-credit">Get credit</a>
  <a data-bind="ccLink: 'quick-order'" href="/quick-order" title="Quick Order">Quick Order</a>
  <a data-bind="ccLink: 'profile'" href="/profile">How much can I spend</a>
  <a data-bind="ccLink: 'request-catalogue'" href="/request-catalogue">Request a catalogue</a>
  <a data-bind="ccLink: 'help-faqs'" href="/help-faqs">FAQ&rsquo;s</a>
  <a data-bind="ccLink: 'contactMe'" href="/contactMe">Call me back</a>
  <a href="tel: 0861999635">Call: 0861 999 635</a>
</p>