<div id="cc-collection" data-oc-id="cc-collection">
  <!-- oc layout: panels -->
  <div class="row">

    <div class="oc-panel col-md-12" data-oc-id="panel-0-0">

      <!-- oc section: collection-carousel -->
        <div data-bind="visible: isCollectionVisible()">
            <!-- ko if: productGroups() && (productGroups().length > 0) -->
  <div class="row">
    <!-- Collection Title -->
    <div class="col-xs-9">
      <h3 id="cc-collection-title" data-bind="text: titleText"></h3>
    </div>
    <div id="cc-carousel-controls" class="col-xs-3">
      <!-- Carousel Controls -->
      <!-- ko if: productGroups() && (productGroups().length > 1) -->
      <div class="controls row pull-right hidden-xs">
        <div id="cc-carousel-left-control" class="col-sm-6">
          <a class="collection-carousel-control left btn btn-success" data-slide="prev" data-bind="event: {keyup: $data.handleCarouselArrows}, widgetLocaleText:{value:'previousImageText',attr:'title'}, attr:{href: '#carousel-id-'+id()}" alt="Previous">
            <i class="fa-2x fa fa-caret-left "></i>
          </a>
        </div>
        <div id="cc-carousel-right-control" class="col-sm-6">
          <a class="collection-carousel-control left btn btn-success" data-slide="next" data-bind="event: {keyup: $data.handleCarouselArrows}, widgetLocaleText:{value:'nextImageText',attr:'title'}, attr:{href: '#carousel-id-'+id()}" alt="Next">
            <i class="fa-2x fa fa-caret-right "></i>
          </a>
        </div>
      </div>
      <!-- /ko -->
    </div>
  </div>
  <div data-bind="carouselSwipe, attr:{id: 'carousel-id-'+id()}" class="carousel slide">
    <div class="carousel-inner">
      <!-- ko foreach: productGroups -->
        <div class="item row" data-bind="css: {'active': $index()==0}, foreach: $data">
          <div data-bind="css: $parents[1].spanClass()" class="cc-product-item">
            <div class="cc-item-detail">
              <a data-bind="attr : { id: 'CC-product-detail-'+id(), title: displayName }, ccLink : $data.product, click: $parents[1].updateFocus">
              <span data-bind="text: displayName" class="sr-only"></span>
              <img class="img-responsive center-block" data-bind="productImageSource: {src: $data.product, imageType: 'small',
                errorSrc: '/img/no-image.jpg',
                errorAlt: 'Missing Product Image'
                }, attr: {id: 'CC-product-image-'+id(), alt: displayName}">
              </a>
            </div>
            <div class="item-attributes">

                        <!-- ko if:  hc.getProductBadges-->
                        <div class="hc-product-badge--container" data-bind="onRender: hc.getProductBadges($data,true, $element )"></div>
                        <!-- /ko -->

                        <div class="cc-item-title">
                            <a data-bind="attr : { id: 'CC-product-title-'+id()}, ccLink : $data.product, click: $parents[1].updateFocus">
                                <p data-bind="text: displayName, attr: {id: 'CC-product-dsyisplayName-'+id()}" class="cc-text-overflow"></p>
                            </a>
                        </div>
                        <p class="promo-text">
                            LAUNCH OFFER
                        </p>
                        <div class="cc-item-price">
                            <span data-bind="widgetLocaleText:'fromText'" class="from"></span>
                            <!--<span data-bind="currency: {price: $data.product.minPrice, currencyObj: $parents[1].site().selectedPriceListGroup().currency, nullReplace: '0', prependNull: true},-->
                            <!--attr: {id: 'CC-product-price-min'+ id()}" class="from-price"></span>-->
                            
                            <span data-bind="text: $data.product.minPrice ? $parents[1].site().selectedPriceListGroup().currency.symbol + $data.product.minPrice : $parents[1].site().selectedPriceListGroup().currency.symbol + 0, attr: {id: 'CC-product-price-min'+ id()}"></span>
                            
                            

                            <span data-bind="widgetLocaleText:'perMonthText'" class="per-month"></span>
                        </div>
                    </div>
          </div>
        </div>
      <!-- /ko -->
    </div>
    <!-- Carousel Indicators-->
    <!-- ko if: productGroups().length > 1 -->
      <div id="cc-carousel-indicators" class="row">
        <ol role="presentation" class="carousel-indicators" data-bind="foreach: productGroups">
          <li data-bind="css: {'active': $index()==0}, attr: {'data-slide-to': $index, 'data-target': '#carousel-id-'+$parent.id()}"></li>
        </ol>
      </div>
    <!-- /ko -->
  </div>
<!-- /ko -->
        </div>
      <!-- /oc -->

    </div>


  </div>
  <!-- /oc -->
</div>