#accordionTabs-vars-re1500026 {
  .loadVariables() {
@activeBackgroundColor:#ffffff;
@activeTextColor:#000000;
@inactiveBackgroundColor:#ffffff;
@inactiveTextColor:#000000;
@stepNameAlignment:left;

  }
}